/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  --twitter-color:#50b7f5;
  --twitter-background: #e6ecf0;
  
}

.app{
  display: flex;
  height:100vh ;    /*sidebar border stretches to the bottom*/
  max-width:1300px; /*maximum width of the main screen*/
  margin-left: auto;   /*this margin left and right auto will take there side share of space and eventually center the element */
  margin-right: auto;
  padding:0 10px;
} 